* {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
}

.main {
    display: flex;
}

#TextToProcess {
    height: 48px;
    width: 577px;
    left: 240px;
    top: 168px;
    border-radius: nullpx; 
}

.TextInput {
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
}

.TextInputArea {
    position: absolute;
    left: 1000px;
    top: 40px;
    width: 400px;
    height: 844px

}

#Logo {
    position: relative;
    margin-top: 20px;
    margin-left: 45px;
}

h6 {
    position: static;
    width: 205px;
    height: 18px;
    margin-left: 200px;
    margin-top: 500px;
}

button {
    Color: Light blue;
    State: Normal;
    height: 67px;
    width: 328px;
    left: 352px;
    top: 0px;
    border-radius: 24px;
    padding: 24px;

    position: relative;
    width: 328px;
    height: 67px;
    left: 200px;
    top: 220px;

    background: #0A3871;
border-radius: 24px;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;


    

}